.order-conaint {
  width: 100%;
  height: 100px;
  margin-bottom: 5px;
  border: 1px solid;
  cursor: pointer;
  box-shadow: 4px 4px 4px #8c8282;
}
.order-status {
  width: 12%;
  height: 81%;
  padding: 1%;
  float: left;
}
.order-imagex {
  width: 60px;
  height: 80px;
}
.order-decp {
  width: 41%;
  height: 81%;
  padding: 1%;
  float: left;
}

.arr-img {
  width: 60px;
  height: 50px;
}

.order-img {
  width: 100%;
  height: 79px;
  overflow: auto;
  /* justify-content: center; */
  /* margin-left: 18%; */
  border: 1px solid;
}
.order-img::-webkit-scrollbar {
  display: none;
}
.order-img > ul {
  display: flex;
  list-style: none;
  white-space: pre-wrap;
}
.MuiTimelineDot-root {
  margin-top: 0;
  margin-bottom: 0;
}

.warup {
}
.MuiTimeline-root {
  float: left;
}
/* tool tip*/
.tooltip {
  position: relative;
  display: inline-block;
  color: #21b734;
  font-weight: 500;
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 114%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
@media screen and (max-width: 480px) {
  .warup {
    display: grid;
  }
  .order-status {
    width: 18%;
  }
  .MuiTimeline-root {
    float: unset;
  }
  .addressM {
    padding: 12px;
    margin-top: -50px;
  }
}
